/* Styles all HTML for Trading Cards Page*/



/* 
----------->		Global styles
*/
* {
    box-sizing: border-box;
}



/*
----------->		Animal Card Container 
*/
#main-content {
    border-radius: 1%;
    border: 0.002px solid #823;
    padding: 10px;
    width: 520px;
    box-shadow: 1px 1px 18px rgba(58, 55, 106, 0.70);
    margin: 0 auto;
}



/*
----------->		Animal Title and Image Section
*/
header {
    border-radius: 1%;
    text-align: center;
    width: 100%;
    margin-top: 0;
    margin-bottom: 20px;
    color: #333;
}



#animal-thumb {
    /* border: .5px solid #999; */
    border-radius: 1%;
    /* box-shadow: 1px 1px 18px rgba(58, 55, 106, 0.25); */
    box-shadow: 1px 21px 48px rgba(58, 55, 106, 0.85);
	width: 300px;
}



/*
----------->		Animal Details Section
*/
ul {
    list-style-type: none;
    margin: 10px 5px;
    padding: 0;
}

#sub-content {
    border-radius: 1%;
    border: 0.002px solid #999;
    padding: 10px;
    text-align: left;
    box-shadow: 1px 1px 18px rgba(58, 55, 106, 0.25);
}

#animal-fact {
    font-style: italic;
    text-align: left;
}

.fav-animal-item {
    font-weight: bold;
}



/*
----------->		Miscellaneous
*/



